<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulina.sadowska.robotwirelesscontroller" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:screenOrientation="landscape"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Bluetooth.BluetoothActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".Wifi.WifiActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>


        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".Bluetooth.BluetoothActivity"
            android:label="@string/select_device"
            android:screenOrientation="landscape"
            android:theme="@style/SettingsDialog"/>

        <activity android:name=".Wifi.SettingsActivity"
            android:parentActivityName=".Wifi.WifiActivity"
            android:theme="@style/SettingsDialog"
            android:screenOrientation="landscape"
            android:label="@string/settings"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>

</manifest>
